.App {
  text-align: center;
  width: 1500px;
  height: 1000px;
  
  border: 15px inset #cd30ab;
  background: #eee; 
  margin: auto;
  padding: 150px 25px;
}
.Indent{
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  
  width: 1580px;
  height: 80px;
  
  border: 0px solid #ffffff;
  background: #eee; 
  margin: auto;
  padding: auto;
}
Canvas{
  width: 100%;
  height: 100%;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #828cae;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #828cae}
  
  .button:active {
  background-color: #828cae;
  box-shadow: 0 5px #756b6b;
  transform: translateY(4px);
  }


